*.swp
*.sdf
*.idat
*.pdf
*.jpeg
*.Rdata
*.Rhistory
*.xls
*.xlsx
FU88_150916_SampleMethylationProfile.txt
HumanMethylation450_15017482_v.1.2.csv
FU88_150916_SamplesID_SentrixID.txt
NJ-0636_FU82_150430_SamplesID_SentrixID.txt
